@model BoulderBox.Web.ViewModels.Places.Countries.CountryDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row col-12 justify-content-center text-center text-md-left justify-content-md-start">
    @if (Model.ImageSource != null)
    {
        <img src="@Model.ImageSource" class="rounded-circle border mr-2" width="50" height="50" />
    }
    else
    {
        <i class="far fa-flag fa-3x mr-3"></i>
    }

    <h2 class="mt-2">@Model.Name (@Model.CountryCode)</h2>

    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a asp-area="Administration" asp-controller="Countries" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success ml-3 mt-2 mb-3">Edit</a>
    }
</div>

@if (Model.Description != null)
{
    <hr class="bg-secondary mt-3" />
    <p class="text-break">@Model.Description</p>
}

<hr class="bg-secondary mb-4" />
<h3>Cities in @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th width="50" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th>City</th>
                <th>Gyms</th>
                <th>Ascents</th>
                <th>Boulders</th>
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Cities.Any())
            {
                <tr>
                    <td class="text-center">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @foreach (var city in Model.Cities)
            {
                <tr>
                    <td>
                        @if (city.ImageSource != null)
                        {
                            <img src="@city.ImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-city ml-1"></i>
                        }
                    </td>
                    <td><a asp-area="Places" asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id" class="text-dark" />@city.Name<a /></td>
                    <td>@city.GymsCount</td>
                    <td>@city.AscentsCount</td>
                    <td>@city.BouldersCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>