@model BoulderBox.Web.ViewModels.Boulders.Ascents.AscentsViewModel

@{
    ViewData["Title"] = "Ascents";

    var admin = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<form method="get" class="card border-secondary col-lg-8 mt-4">
    <div class="row mt-2">
        <div class="form-group col-lg-5">
            <label asp-for="@Model.Common.Sorting.OrderBy" class="col-form-label">Order by</label>
            <select asp-for="@Model.Common.Sorting.OrderBy" name="orderBy" class="form-control">
                <option value="Date">Date</option>
                <option value="Grade">Grade</option>
                <option value="Stars">Stars</option>
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="@Model.Common.Sorting.Ascending" class="col-form-label text-white d-none d-lg-block">.</label>
            <select asp-for="@Model.Common.Sorting.Ascending" name="ascending" class="form-control">
                <option value="true">Ascending</option>
                <option value="false">Descending</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label class="col-form-label text-white d-none d-lg-block">.</label>
            <button type="submit" class="btn btn-success form-control">Search</button>
        </div>
    </div>
</form>

<div class="table-responsive mt-4">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th>User</th>
                <th>Date</th>
                <th>Style</th>
                <th>Boulder</th>
                <th>Stars</th>
                @if (admin)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Ascents.Any())
            {
                <tr>
                    <td>No ascents</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    @if (admin)
                    {
                        <th><a class="btn btn-primary disabled">Edit</a></th>
                    }
                </tr>
            }

            @foreach (var ascent in Model.Ascents)
            {
                var styleBadge = "badge badge-";

                if (ascent.StyleShortText == "OS")
                {
                    styleBadge += "success";
                }
                else if (ascent.StyleShortText == "FL")
                {
                    styleBadge += "warning";
                }
                else if (ascent.StyleShortText == "RP")
                {
                    styleBadge += "danger";
                }

                var trClass = string.Empty;

                if (ascent.Comment == null)
                {
                    trClass = "border-bottom";
                }

                <tr class="@trClass">
                    <td width="50">
                        @if (ascent.ApplicationUserImageSource != null)
                        {
                            <img src="@ascent.ApplicationUserImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1"></i>
                        }
                    </td>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@ascent.ApplicationUserId" class="text-dark">@ascent.ApplicationUserUsername</a></td>
                    <td>@ascent.Date.ToString("dd/MM/yyyy")</td>
                    <td><span class="@styleBadge">@ascent.StyleShortText</span></td>
                    <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@ascent.BoulderId" class="text-dark text-nowrap">@ascent.BoulderName</a> (@ascent.GradeText)</td>
                    @if (ascent.Stars == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td class="text-nowrap">
                            @for (int i = 0; i < ascent.Stars; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        </td>
                    }
                    @if (admin)
                    {
                        <td>
                            <a asp-area="Administration" asp-controller="Ascents" asp-action="Edit" asp-route-id="@ascent.Id" class="btn btn-primary">Edit</a>
                        </td>
                    }
                </tr>

                if (ascent.Comment != null)
                {
                    <tr class="border-bottom">
                        <td colspan="6">@ascent.Comment</td>
                        @if (admin)
                        {
                            <th></th>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Common" />
</div>
