@model BoulderBox.Web.ViewModels.Boulders.Ascents.AscentsViewModel

@{
    ViewData["Title"] = "Ascents";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<div class="table-responsive">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Style</th>
                <th>Boulder</th>
                <th>Comment</th>
                <th>Stars</th>
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Ascents.Any())
            {
                <tr>
                    <td>No ascents</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @foreach (var ascent in Model.Ascents)
            {
                var styleBadge = "badge badge-";

                if (ascent.StyleShortText == "OS")
                {
                    styleBadge += "info";
                }
                else if (ascent.StyleShortText == "FL")
                {
                    styleBadge += "warning";
                }
                else if (ascent.StyleShortText == "RP")
                {
                    styleBadge += "danger";
                }

                <tr>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@ascent.ApplicationUserId" class="text-dark">@ascent.ApplicationUserUsername</a></td>
                    <td>@ascent.Date.ToString("dd/MM/yyyy")</td>
                    <td><span class="@styleBadge">@ascent.StyleShortText</span></td>
                    <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@ascent.BoulderId" class="text-dark">@ascent.BoulderName</a> (@ascent.GradeText)</td>
                    <td>@(ascent.Comment ?? "-")</td>
                    @if (ascent.Stars == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@ascent.Stars</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Common" />
</div>
