@model BoulderBox.Web.ViewModels.Forum.Categories.CategoryDetailsViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="row ml-2">
    <h1>@Model.Name</h1>
    <a asp-area="Forum" asp-controller="Posts" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary ml-3 mt-1 mb-3">Create Post</a>
</div>

@if (Model.Description != null)
{
    <hr class="bg-secondary mt-2" />
    <p class="text-break">@(Model.Description)</p>
}

<hr class="bg-secondary mb-4" />
<h3>Posts in @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">UserName</th>
                <th scope="col">Created On</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>

            @if (!Model.Posts.Any())
            {
                <tr>
                    <td>No posts in this category</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @foreach (var post in Model.Posts)
            {
                <tr class="text-dark">
                    <td><a asp-area="Forum" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="text-dark">@post.Title</a></td>
                    <td>@post.ApplicationUserUserName</td>
                    <td>@post.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td>@post.CommentsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Pagination" />
</div>