@model BoulderBox.Web.ViewModels.Forum.Categories.CategoryDetailsViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="row ml-2">
    @if (Model.ImageSource != null)
    {
        <img src="@Url.Content(Model.ImageSource)" class="rounded-circle border mr-3" width="50" height="50" />
    }
    else
    {
        <i class="fas fa-book-open fa-3x mr-3"></i>
    }
    <h2 class="mt-1">@Model.Name</h2>
    <a asp-area="Forum" asp-controller="Posts" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary ml-lg-3 mt-1 mb-3">Create Post</a>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a asp-area="Administration" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success ml-3 mt-1 mb-3">Edit</a>
    }
</div>

@if (Model.Description != null)
{
    <hr class="bg-secondary mt-1" />
    <p class="text-break">@(Model.Description)</p>
}

<hr class="bg-secondary mb-4" />
<h3>Posts in @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th scope="col">Subject</th>
                <th scope="col">UserName</th>
                <th scope="col">Created On</th>
                <th scope="col">Comments</th>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (!Model.Posts.Any())
            {
                <tr>
                    <td>No posts in this category</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <td></td>
                    }
                </tr>
            }

            @foreach (var post in Model.Posts)
            {
                <tr class="text-dark">
                    <td width="50">
                        @if (post.ImageSource != null)
                        {
                            <img src="@post.ImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-book-reader ml-1"></i>
                        }
                    </td>
                    <td><a asp-area="Forum" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="text-dark">@post.Title</a></td>
                    <td>@post.ApplicationUserUserName</td>
                    <td>@post.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td>@post.CommentsCount</td>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <td>
                            <a asp-area="Administration" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Common" />
</div>