@model BoulderBox.Web.ViewModels.Boulders.Boulders.BoulderDetailsViewModel

@{
    ViewData["Title"] = Model.Name;

    var admin = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<div class="row col-12 justify-content-center text-center">
    <h2>@Model.Name (@Model.GradeText)</h2>
    <a asp-area="Boulders" asp-controller="Ascents" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary ml-3 mt-1 mb-1">Add Ascent</a>

    @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.AuthorId)
    {
        <a asp-area="Boulders" asp-controller="Boulders" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success ml-3 mt-1 mb-1">Edit</a>
    }
    else if (admin)
    {
        <a asp-area="Administration" asp-controller="Boulders" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success ml-3 mt-1 mb-1">Edit</a>
    }
</div>

<div class="row mt-4 mb-3 col-12 justify-content-center">
    <img src="@Model.ImageSource" class="card-img col-lg-6 mb-3 border border-primary p-0" />

    <div class="col-lg-5 ml-lg-4 p-0">
        <div class="jumbotron col-12 pt-4 pb-4">
            <div class="row justify-content-center mb-2">
                <h5><i class="far fa-thumbs-up"></i> @Model.RecommendCount</h5>
                <h5><i class="far fa-star ml-2"></i> @Model.AverageStars.ToString("f1")</h5>
            </div>
            <h5>by: <a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorUserName</a></h5>
            <h5>gym: <a asp-area="Places" asp-controller="Gyms" asp-action="Details" asp-route-id="@Model.GymId">@Model.GymName</a></h5>
            <h5>created on: @Model.CreatedOn.ToString("dd/MM/yyyy")</h5>
        </div>
        <div class="jumbotron col-12 pt-4 pb-2">
            @if (Model.Description != null)
            {
                <p class="text-center">@(Model.Description)</p>
            }
        </div>
    </div>
</div>


<h3>Ascents Of @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th width="50" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th>User</th>
                <th>Date</th>
                <th>Style</th>
                <th>Grade</th>
                <th>Stars</th>
                @if (admin)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Ascents.Any())
            {
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    @if (admin)
                    {
                        <td></td>
                    }
                </tr>
            }

            @foreach (var ascent in Model.Ascents)
            {
                var styleBadge = "badge badge-";

                if (ascent.StyleShortText == "OS")
                {
                    styleBadge += "success";
                }
                else if (ascent.StyleShortText == "FL")
                {
                    styleBadge += "warning";
                }
                else if (ascent.StyleShortText == "RP")
                {
                    styleBadge += "danger";
                }

                var trClass = string.Empty;

                if (ascent.Comment == null)
                {
                    trClass = "border-bottom";
                }

                <tr class="@trClass">
                    <td>
                        @if (ascent.ApplicationUserImageSource != null)
                        {
                            <img src="@ascent.ApplicationUserImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1"></i>
                        }
                    </td>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@ascent.ApplicationUserId" class="text-dark">@ascent.ApplicationUserUserName</a></td>
                    <td>@ascent.Date.ToString("dd/MM/yyyy")</td>
                    <td><span class="@styleBadge">@ascent.StyleShortText</span></td>
                    <td>@ascent.GradeText</td>
                    @if (ascent.Stars == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td class="text-nowrap">
                            @for (int i = 0; i < ascent.Stars; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        </td>
                    }
                    @if (admin)
                    {
                        <td><a asp-area="Administration" asp-controller="Ascents" asp-action="Edit" asp-route-id="@ascent.Id" class="btn btn-primary">Edit</a></td>
                    }
                </tr>

                if (ascent.Comment != null)
                {
                    <tr class="border-bottom">
                        <td colspan="6">@ascent.Comment</td>
                        @if (admin)
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
