@using BoulderBox.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/theme.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BoulderBox</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-area="Boulders" asp-controller="Ascents" asp-action="Index" class="nav-link">Ascents</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Boulders" asp-controller="Boulders" asp-action="Index" class="nav-link">Boulders</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Boulders" asp-controller="Ranking" asp-action="Index" class="nav-link">Ranking</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="Places" asp-controller="Countries" asp-action="Index">Countries</a>
                            <a class="dropdown-item" asp-area="Places" asp-controller="Cities" asp-action="Index">Cities</a>
                            <a class="dropdown-item" asp-area="Places" asp-controller="Gyms" asp-action="Index">Gyms</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Forum" asp-controller="Categories" asp-action="Index" class="nav-link">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Chat" class="nav-link">Chat</a>
                    </li>
                    <partial name="_LoginPartialNavBar" />
                </ul>
                <form asp-area="" asp-controller="Search" asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
                    <input name="text" class="form-control mr-sm-2 mb-1" type="text" placeholder="Search">
                    <button class="btn btn-dark" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <div class="container col-12">
            <div class="row">
                <div id="leftNavbar" class="border-primary border-right border-bottom bg-light d-none d-lg-block col-lg-2">
                    <div class="row ml-2 mr-2 mt-4 mb-4">
                        <partial name="_LoginPartial" />
                    </div>
                    <cache expires-after="@TimeSpan.FromMinutes(1)">
                        <vc:side-bar></vc:side-bar>
                    </cache>
                </div>
                <div class="col-lg-10 mt-4">
                    <div class="container">
                        <partial name="_CookieConsentPartial" />
                        @if (this.TempData[GlobalConstants.MessageKey] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @Html.Raw(this.TempData[GlobalConstants.MessageKey])
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        }
                        @this.RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer text-light bg-primary">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 text-wrap">
                    <h3>About BoulderBox:</h3>
                    BoulderBox is an online system for climbers to keep track of their ascents in the gym.
                    Open source project.
                </div>
                <div class="col-lg-6 text-center mt-4">
                    <div class="row col-12">
                        <div class="col-3 text-center border p-1">
                            <div>
                                <a asp-area="" asp-controller="Home" asp-action="About" class="text-light"><strong>About</strong></a>
                            </div>
                            <div>
                                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light"><strong>Privacy</strong></a>
                            </div>
                            <div>
                                <a href="https://github.com/todor-tsankov/BoulderBox" class="text-light"><strong>Github</strong></a>
                            </div>
                        </div>
                        <div class="col-3 text-center border p-1">
                            <div>
                                <a asp-area="Boulders" asp-controller="Ascents" asp-action="Index" class="text-light"><strong>Ascents</strong></a>
                            </div>
                            <div>
                                <a asp-area="Boulders" asp-controller="Boulders" asp-action="Index" class="text-light"><strong>Boulders</strong></a>
                            </div>
                            <div>
                                <a asp-area="Boulders" asp-controller="Ranking" asp-action="Index" class="text-light"><strong>Ranking</strong></a>
                            </div>
                        </div>
                        <div class="col-3 text-center border p-1">
                            <div>
                                <a asp-area="Places" asp-controller="Countries" asp-action="Index" class="text-light"><strong>Countries</strong></a>
                            </div>
                            <div>
                                <a asp-area="Places" asp-controller="Cities" asp-action="Index" class="text-light"><strong>Cities</strong></a>
                            </div>
                            <div>
                                <a asp-area="Places" asp-controller="Gyms" asp-action="Index" class="text-light"><strong>Gyms</strong></a>
                            </div>
                        </div>
                        <div class="col-3 text-center border p-1">
                            <div>
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-light"><strong>Home</strong></a>
                            </div>
                            <div>
                                <a asp-area="Forum" asp-controller="Categories" asp-action="Index" class="text-light"><strong>Forum</strong></a>
                            </div>
                            <div>
                                <a asp-area="" asp-controller="Home" asp-action="Chat" class="text-light"><strong>Chat</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <p>&copy; @DateTime.Now.Year - @GlobalConstants.SystemName</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
