@model BoulderBox.Web.ViewModels.ViewComponents.SideBarViewModel

<h6>Latest Ascents:</h6>

<table class="table table-sm table-borderless">
    <tbody>
        @foreach (var ascent in Model.LatestAscents)
        {
            var badgeClass = "badge badge-";

            if (ascent.StyleShortText == "OS")
            {
                badgeClass += "success";
            }
            else if (ascent.StyleShortText == "FL")
            {
                badgeClass += "warning";
            }
            else if (ascent.StyleShortText == "RP")
            {
                badgeClass += "danger";
            }

            <tr>
                <td class="@badgeClass mt-1">@ascent.StyleShortText</td>
                <td><div class="row justify-content-center ml-1 mr-1">@ascent.GradeText</div></td>
                <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@ascent.ApplicationUserId" class="text-dark">@ascent.ApplicationUserUserName</a></td>
            </tr>
        }
    </tbody>
</table>

<h6>Latest Boulders:</h6>
<table class="table table-sm table-borderless">
    <tbody>
        @foreach (var boulder in Model.LatestBoulders)
        {
            <tr>
                <td>@boulder.GradeText</td>
                <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@boulder.Id" class="text-dark">@boulder.Name</a></td>
            </tr>
        }
    </tbody>
</table>

<h6>BoulderBox Statistics:</h6>
<table class="table table-sm table-borderless">
    <tbody>
        <tr>
            <td>Members:</td>
            <td>@Model.Statistics.MembersCount</td>
        </tr>
        <tr>
            <td>Total Ascents:</td>
            <td>@Model.Statistics.AscentsCount</td>
        </tr>
        <tr>
            <td>Total Boulders:</td>
            <td>@Model.Statistics.BouldersCount</td>
        </tr>
    </tbody>
</table>