@model BoulderBox.Web.ViewModels.Boulders.Ranking.RankingsViewModel

@{
    ViewData["Title"] = "Ranking";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<form method="get" class="card border-secondary col-lg-5 mt-4">
    <div class="row mt-2">
        <div class="form-group col-lg-8">
            <label asp-for="@Model.Common.Sorting.OrderBy" class="col-form-label">Type</label>
            <select asp-for="@Model.Common.Sorting.OrderBy" name="orderBy" class="form-control">
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
                <option value="AllTime">All Time</option>
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label class="col-form-label text-white d-none d-lg-block">.</label>
            <button type="submit" class="btn btn-success form-control">Search</button>
        </div>
    </div>
</form>

<div class="table-responsive mt-4">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th>#</th>
                <th scope="col" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th>User</th>
                <th>Weekly</th>
                <th>Monthly</th>
                <th>Yearly</th>
                <th>AllTime</th>
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Ranking.Any())
            {
                <tr>
                    <td>No users</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @{
                var i = Model.StartRank;
            }

            @foreach (var user in Model.Ranking)
            {
                <tr>
                    <td width="30">@i</td>
                    <td width="50">
                        @if (user.ImageSource != null)
                        {
                            <img src="@user.ImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1"></i>
                        }
                    </td>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="text-dark">@user.UserName</a></td>
                    <td>@user.PointsWeekly</td>
                    <td>@user.PointsMonthly</td>
                    <td>@user.PointsYearly</td>
                    <td>@user.PointsAllTime</td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>

<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Common" />
</div>