@model BoulderBox.Web.ViewModels.Cities.CityViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1">
    <br />
    <div class="row justify-content-center">
        @if (Model.ImageSource != null)
        {
            <img src="@Url.Content(Model.ImageSource)" style="padding:0px" class="img-thumbnail border border-dark col-1" />
        }
        else
        {
            <img src="~/img/no-image-available-2.jpg" style="padding:0px" class="img-thumbnail border border-dark col-1" />
        }
        <span class="text-light">....</span>
        <h1>@Model.Name, @Model.CountryName</h1>
    </div>
    <hr class="bg-primary" />
    @if (Model.Description != null)
    {
        <p>@Model.Description</p>
        <hr class="bg-primary" />
    }
    <br />
    <h2>Gyms in @Model.Name</h2>
    <br />
    <table class="table table-primary table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Gym Name</th>
                <th scope="col">Ascents Count</th>
                <th scope="col">Boulders Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

