@model IEnumerable<BoulderBox.Web.ViewModels.Cities.CityViewModel>

@{
    ViewData["Title"] = "Cities";
}

<div class="col-8 offset-2">

    <br />
    <h1>Cities <a asp-area="" asp-controller="Cities" asp-action="Create" class="btn btn-outline-primary">Create</a></h1>
    <hr class="bg-secondary" />

    <div class="container">
        <div class="row justify-content-start">
            @foreach (var city in Model)
            {
                <div class="card border-primary bg-light mb-3 col-lg-3">
                    <div class="card-header bg-secondary text-light">
                        <a asp-area="" asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id" class="text-light">@city.Name</a>,
                        <a asp-area="" asp-controller="Countries" asp-action="Details" asp-route-id="@city.CountryId" class="text-light">@city.CountryName</a>
                    </div>
                    <div class="card-body">
                        @if (city.ImageSource != null)
                        {
                            <img src="@Url.Content(city.ImageSource)" style="padding:0px" class="card-img border border-primary col-lg-12 col-sm-12" />
                        }
                        else
                        {
                            <img src="~/img/no-image-available.png" style="padding:0px" class="card-img border border-primary col-lg-12 col-sm-12" />
                        }
                        <br />
                        <br />
                        <div class="row justify-content-end align-items-end">
                            <a asp-area="" asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id" class="btn btn-outline-primary">Details</a>
                            <span class="text-light">.</span>
                            <a asp-area="" asp-controller="Cities" asp-action="Delete" asp-route-id="@city.Id" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>

                <span class="text-light">...</span>
            }
        </div>
    </div>
</div>

