@model BoulderBox.Web.ViewModels.Boulders.BoulderDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row justify-content-center">
    <h1>@Model.GradeText - @Model.Name</h1>
</div>
<div class="row justify-content-center">
    <h3>@Model.CreatedOn.ToString("dd:MM:yyy") at @Model.GymName</h3>
</div>
<div class="row justify-content-center">
    <a asp-area="" asp-controller="Ascents" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-warning">Add Ascent</a>
</div>
<hr class="bg-secondary" />
@if (Model.Description != null)
{
    <p>@Model.Description</p>
    <hr class="bg-secondary" />
}

<img src="@this.Url.Content(Model.ImageSource)" class="card-img" />
<br />
<br />
<h2>Ascents of @Model.Name</h2>
<br />
<table class="table border border-warning table-sm">
    <thead class="bg-warning">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Style</th>
            <th scope="col">Grade</th>
            <th scope="col">Comment</th>
            <th scope="col">Stars</th>
        </tr>
    </thead>
    <tbody class="bg-light">

        @if (!Model.Ascents.Any())
        {
            <tr>
                <td>No ascents of this boulder.</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        }

        @foreach (var ascent in Model.Ascents)
        {
            var badge = "badge badge-danger";

            if (ascent.StyleShortText == "OS")
            {
                badge = "badge badge-info";
            }
            else if (ascent.StyleShortText == "FL")
            {
                badge = "badge badge-warning";
            }

            <tr>
                <td>@ascent.ApplicationUserUserName</td>
                <td>@ascent.Date.ToString("dd/MM/yyyy")</td>
                <td><span class="@badge">@ascent.StyleShortText</span></td>
                <td>@ascent.GradeText</td>
                <td>@(ascent.Comment ?? "-")</td>
                @if (ascent.Stars == null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@ascent.Stars</td>
                }
            </tr>
        }
    </tbody>
</table>
