@model IEnumerable<BoulderBox.Web.ViewModels.Ranking.RankingViewModel>

@{
    ViewData["Title"] = "Ranking";
}

<div class="row ml-2">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="bg-secondary" />

<div class="table-responsive">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Weekly</th>
                <th>Monthly</th>
                <th>Yearly</th>
                <th>AllTime</th>
            </tr>
        </thead>
        <tbody class="table-light">

            @if (!Model.Any())
            {
                <tr>
                    <td>No users</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @{ 
                var i = 1;
            }

            @foreach (var user in Model)
            {
                <tr>
                    <td>@i</td>
                    <td><a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="text-dark">@user.UserName</a></td>
                    <td>@user.PointsWeekly</td>
                    <td>@user.PointsMonthly</td>
                    <td>@user.PointsYearly</td>
                    <td>@user.PointsAllTime</td>
                </tr>

                i++;
            }
        </tbody>
    </table>
</div>

