@model BoulderBox.Web.ViewModels.Places.Gyms.GymDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row ml-2">
    @if (Model.ImageSource != null)
    {
        <img src="@Url.Content(Model.ImageSource)" class="card-img border border-secondary col-2 col-lg-1 mr-3 p-0" />
    }
    <h2 class="mt-2">@Model.Name (@Model.CityName)</h2>
</div>

@if (Model.Description != null)
{
    <hr class="bg-secondary mt-4" />
    <p class="text-break">@(Model.Description)</p>
}

<hr class="bg-secondary mb-4" />
<h3>Boulders in @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th scope="col">Grade</th>
                <th scope="col">Boulder Name</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th scope="col">Ascents</th>
            </tr>
        </thead>
        <tbody class="bg-light">

            @if (!Model.Boulders.Any())
            {
                <tr>
                    <td>No boulders in this gym</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @foreach (var boulder in Model.Boulders)
            {
                <tr>
                    <td>@boulder.GradeText</td>
                    <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@boulder.Id" class="text-dark">@boulder.Name</a></td>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@boulder.AuthorId">@boulder.AuthorUserName</a></td>
                    <td>@boulder.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td>@boulder.AscentsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>