@model BoulderBox.Web.ViewModels.Places.Gyms.GymDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row col-12 justify-content-center text-center text-md-left justify-content-md-start m-0">
    @if (Model.ImageSource != null)
    {
        <img src="@Model.ImageSource" class="rounded-circle border" width="50" height="50" />
    }
    else
    {
        <i class="fas fa-dumbbell fa-3x"></i>
    }

    <h2 class="mt-2 ml-3 mr-3">@Model.Name (@Model.CityName)</h2>

    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a asp-area="Administration" asp-controller="Gyms" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success mt-2 mb-3">Edit</a>
    }
</div>

@if (Model.Description != null)
{
    <hr class="bg-secondary mt-4" />
    <p class="text-break">@(Model.Description)</p>
}

<hr class="bg-secondary mb-4" />
<h3>Boulders in @Model.Name</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th width="50" class="text-center"><i class="fas fa-camera-retro fa-1x"></i></th>
                <th>Boulder</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Ascents</th>
            </tr>
        </thead>
        <tbody class="bg-light">

            @if (!Model.Boulders.Any())
            {
                <tr>
                    <td class="text-center">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            }

            @foreach (var boulder in Model.Boulders)
            {
                <tr>
                    <td>
                        @if (boulder.ImageSource != null)
                        {
                            <img src="@boulder.ImageSource" class="rounded-circle border" width="30" height="30" />
                        }
                    </td>
                    <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@boulder.Id" class="text-dark">@boulder.Name (@boulder.GradeText)</a></td>
                    <td><a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@boulder.AuthorId">@boulder.AuthorUserName</a></td>
                    <td>@boulder.CreatedOn.ToString("dd/MM/yyyy")</td>
                    <td>@boulder.AscentsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>