@model BoulderBox.Web.ViewModels.Forum.Posts.PostAndCommentInputViewModel

@{
    ViewData["Title"] = "Details";

    var admin = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<div class="row ml-2">
    <h2>@Model.Post.Title</h2>

    @if (admin)
    {
        <a asp-area="Administration" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-success ml-3 mt-1 mb-1">Edit</a>
    }
</div>
<hr class="bg-secondary" />

@if (Model.Common.Pagination.CurrentPage == 1)
{
    <div class="card h-100 border-primary bg-light mb-4">
        <div class="card-header text-light bg-primary">
            <div class="card-title">
                <div class="row">
                    <div class="col-md-6">
                        @if (Model.Post.ApplicationUserImageSource != null)
                        {
                            <img src="@Model.Post.ApplicationUserImageSource" class="rounded-circle mr-2" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1 mr-2"></i>
                        }
                        <a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Post.ApplicationUserId" class="text-light">@Model.Post.ApplicationUserUserName</a>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end mt-2 mt-md-0">
                            <a class="mr-3">@Model.Post.CreatedOn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <p>@Model.Post.Text</p>
        </div>
    </div>
}

@foreach (var comment in Model.Comments)
{
    <div class="card h-100 border-primary bg-light mb-4">
        <div class="card-header text-light bg-primary pb-0">
            <div class="card-title">
                <div class="row">
                    <div class="col-md-6">
                        @if (comment.ApplicationUserImageSource != null)
                        {
                            <img src="@comment.ApplicationUserImageSource" class="rounded-circle mr-2" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1 mr-2"></i>
                        }
                        <a asp-area="Users" asp-controller="Users" asp-action="Details" asp-route-id="@comment.ApplicationUserId" class="text-light">@comment.ApplicationUserUserName</a>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end mt-2 mt-md-0">
                            <a class="mr-3">@comment.CreatedOn</a>
                            @if (admin)
                            {
                                <a asp-area="Administration" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-outline-success mr-3">Edit</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body row">
            <p class="col-12">@comment.Text</p>
        </div>
    </div>
}

@if (Model.Common.Pagination.CurrentPage == Model.Common.Pagination.LastPage)
{
    <div class="card h-100 border-primary bg-light mb-4">
        <div class="card-header text-light bg-primary">
            <div class="card-title">
                <div class="row">
                    <div class="col-md-6">
                        @if (Model.ImageSource != null)
                        {
                            <img src="@Model.ImageSource" class="rounded-circle mr-2" width="30" height="30" />
                        }
                        else
                        {
                            <i class="fas fa-user ml-1 mr-2"></i>
                        }
                        <a>@Model.Username</a>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end mt-2 mt-md-0">
                            <a class="mr-3">@DateTime.UtcNow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form asp-area="Forum" asp-controller="Comments" asp-action="Create" method="post">
                <input name="redirectLink" value="@Model.RedirectLink" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="CommentInput.PostId" name="PostId" value="@Model.Post.Id" type="hidden" />
                </div>
                <div class="form-group">
                    <textarea asp-for="CommentInput.Text" name="Text" class="form-control" placeholder="Your comment goes here"></textarea>
                    <span asp-validation-for="CommentInput.Text" class="text-danger"></span>
                </div>
                <div class="container">
                    <div class="row justify-content-end">
                        <button type="submit" class="btn btn-outline-primary">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="row justify-content-center mt-4">
    <partial name="_PaginationPartial" model="this.Model.Common" />
</div>