@model BoulderBox.Web.ViewModels.Countries.CountryDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row justify-content-center">
    @if (Model.ImageSource != null)
    {
        <img src="@Url.Content(Model.ImageSource)" style="padding:0px" class="card-img border border-secondary col-1" />
    }
    <span class="text-light">....</span>
    <h1>@Model.Name, @Model.CountryCode</h1>
</div>
<hr class="bg-secondary" />
<p>@(Model.Description ?? "No description avaible.")</p>
<hr class="bg-secondary" />
<br />
<h2>Cities in @Model.Name</h2>
<br />

<table class="table table-dark border border-dark table-sm">
    <thead>
        <tr class="text-light">
            <th scope="col">№</th>
            <th scope="col">City Name</th>
            <th scope="col">Gyms Count</th>
            <th scope="col">Ascents Count</th>
            <th scope="col">Boulders Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-light text-dark">

        @{
            var i = 1;
        }

        @if (Model.Cities.Count == 0)
        {
            <tr>
                <td>1</td>
                <td>No cities in @Model.Name</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a class="btn btn-outline-dark text-muted">Details</a></td>
            </tr>
        }

        @foreach (var city in Model.Cities)
        {
            <tr>
                <td>@i</td>
                <td><a asp-area="" asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id" class="text-primary" />@city.Name<a /></td>
                <td>@city.GymsCount</td>
                <td>@city.AscentsCount</td>
                <td>@city.BouldersCount</td>
                <td><a asp-area="" asp-controller="Cities" asp-action="Details" asp-route-id="@city.Id" class="btn btn-outline-dark">Details</a></td>
            </tr>

            i++;
        }
    </tbody>
</table>
