@model BoulderBox.Web.ViewModels.Users.Users.UserDetailsViewModel

@{
    ViewData["Title"] = Model.UserName;
}

<div class="row ml-2">
    @if (Model.ImageSource != null)
    {
        <img src="@Url.Content(Model.ImageSource)" class="card-img border border-secondary col-2 col-lg-1 p-0" />
    }
    else
    {
        <i class="far fa-user-circle fa-5x"></i>
    }
    <h2 class="ml-3 mt-3">@Model.UserName</h2>
</div>

@if (Model.Bio != null)
{
    <hr class="bg-secondary mt-4" />
    <p class="text-break">@(Model.Bio)</p>
}

<hr class="bg-secondary mb-4" />

<h3>Ascents Of @Model.UserName</h3>

<div class="table-responsive mt-3">
    <table class="table table-borderless table-hover table-striped">
        <thead class="bg-primary text-light">
            <tr>
                <th>Date</th>
                <th>Style</th>
                <th>Boulder</th>
                <th>Comment</th>
                <th>Stars</th>
                @if (this.User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.Id)
                {
                    <th></th>
                }
            </tr>
        </thead>

        @if (!Model.Ascents.Any())
        {
            <tbody class="table-secondary">
                <tr>
                    <td>No ascents</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        }

        @foreach (var group in Model.Ascents)
        {
            <thead class="table-secondary">
                <tr>
                    <th>@group.Key</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="table-light">
                @foreach (var ascent in group.Ascents)
                {
                    var styleBadge = "badge badge-";

                    if (ascent.StyleShortText == "OS")
                    {
                        styleBadge += "info";
                    }
                    else if (ascent.StyleShortText == "FL")
                    {
                        styleBadge += "warning";
                    }
                    else if (ascent.StyleShortText == "RP")
                    {
                        styleBadge += "danger";
                    }

                    <tr>
                        <td>@ascent.Date.ToString("dd/MM/yyyy")</td>
                        <td><span class="@styleBadge">@ascent.StyleShortText</span></td>
                        <td><a asp-area="Boulders" asp-controller="Boulders" asp-action="Details" asp-route-id="@ascent.BoulderId" class="text-dark">@ascent.BoulderName</a></td>
                        <td>@(ascent.Comment ?? "-")</td>
                        @if (ascent.Stars == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@ascent.Stars</td>
                        }
                        @if (this.User.FindFirst(ClaimTypes.NameIdentifier).Value == Model.Id)
                        {
                            <td><a asp-area="Boulders" asp-controller="Ascents" asp-action="Edit" asp-route-id="@ascent.Id" class="btn btn-primary">Edit</a></td>
                        }
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
